@import '../../../../assets/styles/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.addButton {
  user-select: none;
  transition-duration: .3s;
  cursor: pointer;

  & svg {
      width: 21px;
      height: 21px;
  }

  &__rotated {
    transform: rotate(45deg);
  }
}