@import '../../../../assets/styles/variables.scss';

.root {}

.shortInfo {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.identifier {
  margin-left: 1rem;
}

.fullInfo {
  transition-duration: .3s;
}

.baseInfo {
  display: flex;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $lightGray;
  margin-right: 1rem;
}

.serviceName {
  justify-content: start;
}

.displayButton {
  width: 21px;
  height: 21px;
  transform: rotate(90deg);
  transition-duration: .3s;

  &__reverted {
    transform: rotate(270deg);
  }
}

.actionButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.editButton {
  width: 40%;
}

.serviceControlButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}